body {
  background-color: white;
  font-family:"Roboto",serif;
  margin: 0px 100px 0px 100px;
 
}

.hero {
  background-color: rgb(240, 208, 212) ;
  text-align: center ;
  padding: 20px 5px 20px 50px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 54px;
  font-weight: bold;
  width: 100px;
  line-height: 62px;
  margin-bottom: 0;
}

.hero p {
 color: rgb(58, 58, 58);
}

.shopnow-button {
  background-color: black;
  color: white;
  height: 36px;
  width: 105px;
  border: none;
}

.hero img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shop-description {
  text-align: center;
}

.shop-description h2 {
  font-size: 42px;
  font-weight: bold;
}

.shop-description p {
 margin: auto;
 width: 750px;
 line-height: 20px;
 margin-top: 30px;
}

.learnmore-button {
  background-color: black;
  color: white;
  border: none;
  margin: 20px;
  height: 36px;
  width: 105px;
}

.featured-products {
  background-color:rgb(240, 208, 212)  ;
  text-align: center;
  margin: 20px 10px 0 10px;
}

.featured-products h3 {
  font-size: 30px;
 
}

.featured-products p {
  color: rgb(58, 58, 58);
}

.images-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.new-arrivals {
  text-align: center;
}
.new-arrivals h4 {
  font-size: 30px;
  font-weight: bold;
}

.images-new-arrivals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
